*{
    font-family: "Calibri";
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
/*///////////////////// INDEX ///////////////////////////*/
.dark_header_index{ /*header azul oscuro parte superior*/
    height: 80px;
    width: 100%;
    background-color: #03045E;
}
.img_box_login img{ /*imagen del logo*/
    width: 100%;
}
.img_box_login{ /*caja donde está metido el logo*/
    height: 60px;
    width: 160px;
    margin-left: 20px;
    padding-top: 20px;
}
body{ /*color de fondo*/
    background-color: #DBF5FA;
}
.login_box{ /*caja grande del login donde se encuentran todos los elementos*/
    height: 500px;
    width: 600px;
    background-color: white;
    margin: 60px auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.bottom_box_border{
    height: 60px;
    width: 600px;
    border-bottom: 2px solid #CACACA;
}
.txt_top{ /*Caja donde se encuentra el texto "Iniciar sesion"*/
    height: 40px;
    margin: 10px 0 0 30px;
    position: fixed;
}
.txt_top p{ /*Texto "Iniciar sesión"*/
    color: #CACACA;
    /*color: #00B4D8;*/
    font-size: 32px;
    font-weight: bold;
}
.login_form_box_1{ /*caja azul del email*/
    height: 90px;
    width: 500px;
    margin: 50px 0 0 50px;
    background-color: #DBF5FA;
}
#login_email_label, #login_pass_label{ /*texto "Email:"*/
    margin: 32.5px 0 0 20px;
    font-size: 22px;
    position: fixed;
    color: #000000;
}
#login_email_input{ /*caja donde se introduce el email*/
    margin: 32.5px 0 0 100px;
    border: none;
    height: 25px;
    width: 380px;
    font-size: 18px;
    padding-left: 5px;
}
.login_form_box_2{ /*caja azul de la contraseña*/
    height: 90px;
    width: 500px;
    margin: 30px 0 0 50px;
    background-color: #DBF5FA;
}
#login_pass_input{ /*input del login, donde se escribe*/
    margin: 32.5px 0 0 145px;
    border: none;
    height: 25px;
    width: 335px;
    font-size: 18px;
    padding-left: 5px;
}
.btn_login_box{ /*caja en la que está metido el botón de login*/
    height: 40px;
    width: 140px;
    margin: 30px auto 0 auto;
    background-color: #DBF5FA;
}
#btn_login{ /*propio botón del login*/
    height: 100%;
    width: 100%;
    background-color: #DBF5FA;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.register_text{ /*caja del texto para registrarse*/
    height: 20px;
    width: 300px;
    margin: 30px 0 0 50px;
}
.register_text a, .forget_text a{ /*texto de registrarse y recuperar contraseña*/
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}
.register_text a:hover, .forget_text a:hover{ /*hover del texto*/
    text-decoration: underline;
    cursor: pointer;
}
.forget_text{
    height: 20px;
    width: 300px;
    margin: 10px 0 0 50px;
}
/*///////////////////// REGISTRO ///////////////////////////*/
.register_box{ /*caja grande del registro donde se encuentran todos los elementos*/
    height: 580px;
    width: 600px;
    background-color: white;
    margin: 30px auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.register_form_box_1, .register_form_box_2, .register_form_box_3, .register_form_box_4, .register_form_box_5{ /*caja azul del email*/
    height: 50px;
    width: 500px;
    margin: 25px 0 0 50px;
    background-color: #DBF5FA;
}
.register_name_box, .register_surname_box, .register_email_box, .register_password_box, .register_password2_box{ /*caja donde se encuentran el label y el input de "Nombre", "Apellidos", "Email", "Contraseña" y "Repetir contraseña"*/
    padding-top: 13px;
    margin-left: 20px;
    height: 20px;
    width: 175px;
}
#register_name_label, #register_surname_label, #register_email_label, #register_password_label, #register_password2_label{ /*label/texto de "Nombre", "Apellidos", "Email", "Contraseña" y "Repetir contraseña"*/
    font-size: 22px;
    color: #000000;
    float: left;
}
#register_name_input{ /*input de "Nombre:"*/
    margin: -25px 0 0 100px;
    float: left;
    border: none;
    height: 25px;
    width: 355px;
    font-size: 18px;
    padding-left: 5px;
}
#register_surname_input{ /*input de "Apellidos:"*/
    margin: -25px 0 0 110px;
    float: left;
    border: none;
    height: 25px;
    width: 345px;
    font-size: 18px;
    padding-left: 5px;
}
#register_email_input{ /*input de "Email:"*/
    margin: -25px 0 0 80px;
    float: left;
    border: none;
    height: 25px;
    width: 375px;
    font-size: 18px;
    padding-left: 5px;
}
#register_password_input{ /*input de "Contraseña:"*/
    margin: -25px 0 0 125px;
    float: left;
    border: none;
    height: 25px;
    width: 330px;
    font-size: 18px;
    padding-left: 5px;
}
#register_password2_input{ /*input de "Repetir contraseña:"*/
    margin: -25px 0 0 190px;
    float: left;
    border: none;
    height: 25px;
    width: 265px;
    font-size: 18px;
    padding-left: 5px;
}
.btn_login_box{ /*caja en la que está metido el botón de login*/
    height: 40px;
    width: 140px;
    margin: 30px auto 0 auto;
    background-color: #DBF5FA;
}
#btn_login{ /*propio botón del login*/
    height: 100%;
    width: 100%;
    background-color: #DBF5FA;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.btn_register_box{ /*caja en la que está metido el botón de login*/
    height: 40px;
    width: 140px;
    margin: 25px auto 0 auto;
    background-color: #DBF5FA;
}
#btn_register{ /*propio botón del login*/
    height: 100%;
    width: 100%;
    background-color: #DBF5FA;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
.register_text{ /*caja del texto para registrarse*/
    height: 20px;
    width: 300px;
    margin: 30px 0 0 50px;
}
.register_text p{ /*texto de registrarse y recuperar contraseña*/
    font-size: 18px;
}
.register_text p:hover{ /*hover del texto*/
    text-decoration: underline;
    cursor: pointer;
}
/*///////////////////// HOME HEADER ///////////////////////////*/
.dark_header{ /*header azul oscuro parte superior*/
    height: 110px;
    width: 100%;
    background-color: #03045E;
}
.img_box_home{ /*caja donde está metido el logo*/
    height: 60px;
    width: 160px;
    margin-left: 260px;
    padding-top: 35px;
}
.img_box_home img{ /*imagen del logo*/
     width: 100%;
}
.money_asigned{ /*caja general donde se encuentra el bocadillo y demás*/
    width: 180px;
    height: 110px;
    margin-left: 820px;
}
.img_money_asigned { /*div de la imagen del bocadillo*/
    width: 170px;
    margin-top: -5px;
}
.img_money_asigned p{ /*texto del dinero*/
    margin-top: -100px;
    margin-left: 40px;
    font-size: 32px;
    color: #FFFFFF;
}
.img_money_asigned img{ /*imagen del bocadillo*/
    width: 100%;
 }
.img_pencil{
    width: 20px;
    margin-top: -50px;
    margin-left: 115px;
}
.img_pencil img{
    width: 100%;
}
#to_be_asigned{ /*texto "Por ser asignados"*/
    width: 200px;
    margin-top: 0px;
    margin-left: 25px;
    font-size: 18px;
    color: #FFFFFF;
}

/*/// ASIDE ///*/
.lat_menu{ /*menú lateral color azul*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #00B4D8;
}
.name_box{ /*caja donde se situa el texto "Gastos de " + el nombre del usuario */
    width: 240px;
}
.name_box_text{ /*texto situado en la caja "name_box"*/
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
.lat_box{ /*cajas situadas en el menú de la izquierda que hacen referencia a "Mi prespuesto", "Gráficos" y "Mis cuentas"*/
    width: 240px;
    height: 50px;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #0077B6;
}
.lat_box a{
    text-decoration: none;
}
.lat_box:hover{
    background-color: #0077B6;
}
.lat_box img{ /*imagen situada al lado del texto*/
    margin-left: 20px;
    width: 15%;
}
.lat_box p{ /*texto de las cajas laterales*/
    font-size: 20px;
    margin-left: 10px;
    color: #FFFFFF
}

/*///// SECTION HOME //////*/
.new_category_button_div{ /*div del boton de nueva categoria*/
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #CACACA;
    overflow: auto; /*elimina el float left del header*/
}
.new_category_button_div p{ /*texto del div del boton de nueva categoria*/
    font-size: 24px;
}
#add_category_button{ /*a del boton de nueva categoria*/
    width: 220px;
    height: 100%;
    margin-left: 240px;
    background-color: #DBF5FA;
    text-decoration: none;
    color: #000000;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.plus_img_div{ /*div del boton del logo de añadir*/
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus_img_div img{ /*imagen del logo de añadir*/
    width: 50%;
}
.categories_container{ /*main container de la informacion del home*/
    width: auto;
    height: 100%;
    margin-left: 240px;
}
.tittles{ /*div de los títulos (nombre y dinero asignado)*/
    height: 35px;
    width: auto;
    border-bottom: 2px solid #CACACA;
}
.tittles p{ /*texto de los titulos*/
    float: left;
    font-size: 22px;
    font-weight: bold;
    color: #CACACA;
}
.category_name_div{ /* div de la palabra "Nombre" */
    margin-top: 5px;
    margin-left: 50px;
}
.category_money_div{ /* div de la palabra "Dinero asignado" */
    margin-top: 5px;
    margin-left: 600px;
}
.category_content{ /* div de la categoria y div de la subcategoria */
    background-color: #90E0EF;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #CACACA;
}
.img_checkbox_div, .category_name, .category_price, .add_subcategory_icon, .list_category_edit_icon, .list_category_delete_icon{
    margin-top: 10px;
    float: left;
}
.subcategory_content{ /* div de la info categoria y de la subcategoria */
    height: 40px;
    width: 100%;
    border-bottom: 2px solid #CACACA;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.category_content p, .subcategory_content{ /* texto del div de la categoria */
    font-size: 22px;
}
.category_name{
    margin-left: 10px;
}
.category_price{ /*div donde se muestran los precios asignados*/
    left: 60%;
}
.img_checkbox_div{ /*div donde se mete la imagen del checkbox*/
    width: 25px;
    height: 25px;
    margin-left: 30px;
}

.img_checkbox_div img{ /*imagen del checkbox*/
    width: 100%;
}
.list_category_edit_icon, .list_category_delete_icon, .add_subcategory_icon{
    width: 25px;
}
.list_category_edit_icon img, .list_category_delete_icon img, .add_subcategory_icon img{
    width: 100%;
}
.subcategory_name a{ /*para clickar en la subcategoría y ver la información*/
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
/*//// CREATE_CATEGORY ////*/
.category_creation_div{ /*div general de crear categoria*/
    width: 600px;
    height: 370px;
    background-color: #FFFFFF;
    margin: 5% 0 0 40%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: auto; /*soluciona el problema del margin-top que no funcionaba*/
}
.form_category_name{ /*div del nombre de la categoria*/
    width: 520px;
    height: 60px;
    background-color: #DBF5FA;
    margin-top: 60px;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form_category_name label, .form_category_money label{ /*label del nombre de la categoria y del precio*/
    padding-left: 40px;
    padding-right: 20px;
    font-size: 22px;
    color: #000000;
}
.form_category_name input{ /*input del nombre de la categoria*/
    border: none;
    height: 25px;
    width: 200px; /*poniendo 205 de ancho, dejo 40px de margen a la derecha que es igual al margen izquierdo*/
    font-size: 18px;
    padding-left: 5px; /*para que haya un mini espacio desde el comienzo del cuadro al texto que se escriba*/
}
.form_category_money{ /*div del dinero de la categoria*/
    width: 520px;
    height: 60px;
    background-color: #DBF5FA;
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form_category_money input{ /*input del dinero de la categoria*/
    border: none;
    height: 25px;
    width: 278px; /*poniendo 278 de ancho, dejo 40px de margen a la derecha que es igual al margen izquierdo*/
    font-size: 18px;
    padding-left: 5px; /*para que haya un mini espacio desde el comienzo del cuadro al texto que se escriba*/
}
.btn_insert_category{ /*caja en la que está metido el botón de login*/
    height: 40px;
    width: 120px;
    margin: 50px auto 0 auto; /*80 por abajo*/
    background-color: #DBF5FA;
}
#insert_category_button{ /*propio botón del login*/
    height: 100%;
    width: 100%;
    background-color: #DBF5FA;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
/*///////// view_category /////////*/
.view_category{ /*div general del ver categoria*/
    height: 100%;
    width: 800px;
    margin: 40px 30%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.add_subcategory{ /*div de añadir subcategoria*/
    height: 40px;
    margin-left: 240px;
}
.add_subcategory p{ /*texto del div de añadir subcategoria*/
    font-size: 24px;
}
#add_subcategory_button{ /*a del botón de añadir subcategoría*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.view_category_titles_container{ /*div general en el que se encuentran todos los titulos (Referencia, Nombre, Dinero asignado)*/
    height: 60px;
    border-bottom: 2px solid #CACACA;
    display: grid;
    grid-template-columns: 210px 260px 260px; /*con esto hago que la distancia entre div sea igual*/
    justify-items: center; /*los alineo al centro*/
    align-content: center;
}
.view_category_titles_names p{ /*texto de los titulos de las categorías*/
    font-size: 22px;
    font-weight: bold;
    color: #CACACA;
}
.view_category_info_container{ /*container general donde se encuentra la información de la categoría*/
    height: 50px;
    display: grid;
    grid-template-columns: auto auto auto 20px 60px; /*con esto hago que la distancia entre div sea igual excepto con los iconos*/
    justify-items: center; /*los alineo al centro*/
    align-content: center;
}
.view_category_info_container p{ /*texto del container general donde se encuentra la información de la categoría*/
    font-size: 22px;
    color: #00B4D8;
    text-align: center;
}
.view_category_edit_icon, .view_category_delete_icon{ /*divs donde se encuentran los iconos de editar y borrar*/
    width: 25px;
}
.view_category_edit_icon img, .view_category_delete_icon img{ /*iconos de editar y borrar*/
    width: 100%;
}
/*/////////// CREATE SUBCATEGORY //////////////////*/
.subcategory_creation_div{ /*div general de crear subcategoria*/
    width: 600px;
    height: 370px;
    background-color: #FFFFFF;
    margin: 5% 0 0 40%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: auto; /*soluciona el problema del margin-top que no funcionaba*/
}
.form_subcategory_name{ /*div del nombre de la subcategoria*/
    width: 520px;
    height: 60px;
    background-color: #DBF5FA;
    margin-top: 60px;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form_subcategory_name label, .form_subcategory_money label{ /*label del nombre de la subcategoria y del precio*/
    padding-left: 40px;
    padding-right: 20px;
    font-size: 22px;
    color: #000000;
}
.form_subcategory_name input{ /*input del nombre de la subcategoria*/
    border: none;
    height: 25px;
    width: 169px; /*poniendo 169 de ancho, dejo 40px de margen a la derecha que es igual al margen izquierdo*/
    font-size: 18px;
    padding-left: 5px; /*para que haya un mini espacio desde el comienzo del cuadro al texto que se escriba*/
}
.form_subcategory_money{ /*div del dinero de la subcategoria*/
    width: 520px;
    height: 60px;
    background-color: #DBF5FA;
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form_subcategory_money input{ /*input del dinero de la subcategoria*/
    border: none;
    height: 25px;
    width: 278px; /*poniendo 278 de ancho, dejo 40px de margen a la derecha que es igual al margen izquierdo*/
    font-size: 18px;
    padding-left: 5px; /*para que haya un mini espacio desde el comienzo del cuadro al texto que se escriba*/
}
.btn_insert_subcategory{ /*caja en la que está metido el botón de login*/
    height: 40px;
    width: 120px;
    margin: 50px auto 0 auto; /*80 por abajo*/
    background-color: #DBF5FA;
}
#insert_subcategory_button{ /*propio botón del login*/
    height: 100%;
    width: 100%;
    background-color: #DBF5FA;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

/*///////// VIEW_SUBCATEGORY /////////////*/
.view_subcategory{ /*div general del ver categoria*/
    height: 100%;
    width: 65%;
    margin: 40px 25%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.view_subcategory_titles_container{ /*div general en el que se encuentran todos los titulos (Referencia, Nombre, Dinero asignado)*/
    height: 50px;
    border-bottom: 2px solid #CACACA;
}
.view_subcategory_titles_names{ /*divs de los titulos "Referencia", "Referencia categoria", "Nombre" y "Dinero asignado"*/
    margin-top: 10px;
    float: left;
}
.view_subcategory_titles_names p{ /*texto de los titulos de las categorías*/
    font-size: 22px;
    font-weight: bold;
    color: #CACACA;
}
.view_subcategory_info_container{/*container general donde se muestran los datos de la subcategoría*/
    height: 50px;
}
.view_subcategory_info{ /*divs de la información de la subcategoria*/
    margin-top: 10px;
    float: left;
}
.view_subcategory_info_container p{ /*texto de los divs de la información de la subcategoria*/
    font-size: 22px;
    color: #00B4D8;
    text-align: center;
}
.view_subcategory_edit_icon, .view_subcategory_delete_icon{ /*divs de los iconos de editar y borrar*/
    width: 25px;
    margin-top: 10px;
    float: left;
}
.view_subcategory_edit_icon img, .view_subcategory_delete_icon img{ /*imagenes de editar y de borrar*/
    width: 100%;
}
/*/////////// AGREGAR DINERO ////////////*/
.create_money_div{ /*div general de agregar dinero*/
    width: 600px;
    height: 250px;
    background-color: #FFFFFF;
    margin: 5% 0 0 40%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;
}
.form_category_money{ /*div del dinero*/
    width: 520px;
    height: 60px;
    background-color: #DBF5FA;
    margin-top: 50px;
    margin-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form_category_money label{ /*label del dinero*/
    padding-left: 40px;
    padding-right: 20px;
    font-size: 22px;
    color: #000000;
}
.form_category_money input{
    border: none;
    height: 25px;
    width: 264px; /*poniendo 264 de ancho, dejo 40px de margen a la derecha que es igual al margen izquierdo*/
    font-size: 18px;
    padding-left: 5px; /*para que haya un mini espacio desde el comienzo del cuadro al texto que se escriba*/
}
.btn_insert_category{ /*caja en la que está metido el botón de aceptar*/
    height: 40px;
    width: 120px;
    margin: 50px auto 0 auto; /*80 por abajo*/
    background-color: #DBF5FA;
}
#insert_category_button{ /*propio botón de aceptar*/
    height: 100%;
    width: 100%;
    background-color: #DBF5FA;
    font-size: 18px;
    cursor: pointer;
    border: none;
}
